{% load static%}
<!DOCTYPE html>
<html dir="ltr" lang="en">
  {%include 'still/head.html' %}

  <body>
    {%include 'still/sidebar.html' %}
      <div class="page-wrapper">
        <div class="page-breadcrumb">
          <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
              <h4 class="page-title">Dorklar</h4>
             
            </div>
          </div>
        </div>
       
        <div class="container-fluid">
         
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Wordlist</h5>
                  <div class="table-responsive">
                    <button onclick='window.location.href = "{% url 'wordlistadd'%}";' type="button" class="btn btn-primary">
                      Wordlist Ekle
                    </button>
                    <table
                      id="zero_config"
                      class="table table-striped table-bordered"
                    >
                      <thead>
                        <tr>
                          <th>Wordlist</th>
                          <th>İçerdiği kelime Sayısı</th>
                          
                        </tr>
                      </thead>
                      <tbody>
                        {% for word in wordlist%}
                        <tr>
                          <td>{{word.name}}</td>
                          <td>{{word.wordlist.all|length}}</td>

                          
                        </tr>
                        {%endfor%}
                        
                      </tbody>
                      <tfoot>
                        <tr>
                          <th>Wordlist</th>
                          <th>İçerdiği kelime Sayısı</th>

                            
                          </tr>
                      </tfoot>
                    </table>
                  </div>
                </div>
              </div>
             
          </div>

          <div class="modal fade" id="#keytrend" tabindex="-1" aria-labelledby="KeyTrend" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="KeyTrend">Kelime Trendi</h5>
                  

                  <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <canvas id="trendChart" style="width:100%;max-width:100%"></canvas>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" onclick="closewordtrend()" data-mdb-dismiss="modal">kapat</button>
                </div>
              </div>
            </div>
          </div>
        </div>

       {%include 'still/footer.html'%}

      </div>

    </div>

    <script>
      function wordtrend(key){

        loadingscreen()


        $.ajax({
				url: '{% url "AjaxTrendQuery"  %}',
				type: 'POST',
				data: { 
					csrfmiddlewaretoken: "{{ csrf_token }}",
					word: key
          
				},
       
				success: function (gelenveri) {
          $('.container-fluid').waitMe(("hide"));
          var date = gelenveri.map(function(element) {
            return element[0];
          });

          var trending = gelenveri.map(function(element) {
            return element[1];
          });

          var min = Math.min.apply(null, trending),
           max = Math.max.apply(null, trending);
          
          new Chart("trendChart", {
            type: "line",
            data: {
              labels: date,
              datasets: [{
                fill: false,
                lineTension: 0,
                backgroundColor: "rgba(0,0,255,1.0)",
                borderColor: "rgba(0,0,255,0.1)",
                data: trending
              }]
            },
            options: {
              legend: {display: false},
              scales: {
                yAxes: [{ticks: {min: min, max:max}}],
              }
            }
          });
          $(document).ready(function(){
          $('.modal').modal('show');
        });
				},
				error: function (hata) {
          $('.container-fluid').waitMe(("hide"));
          Swal.fire({
            icon: 'error',
            title: 'Oops...',
            text: 'Herhangi bir trend verisi bulunamadı. Trend verisi için random oluşturulan kelimeler yerine wordlistinizde yer alan anlamlı kelimeleri sorgulamayı deneyebilirsiniz.',          })
				}
			});
        
      }
      function loadingscreen(){
        $('.container-fluid').waitMe({
        effect : 'bounce',
        text : '',
        bg : 'rgba(255,255,255,0.7)',
        color : '#000'
        });
      }
      function closewordtrend(){
      $(document).ready(function(){
        $('.modal').modal('hide');
    });
    }
    </script>

  </body>
</html>
