{% load static%}


<footer class="bg-dark text-center text-white">
  <div class="container p-4 pb-0">
    <section class="mb-4">
      <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/mentalistler" role="button"
        ><i class="fab fa-github"></i
      ></a>
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/enisgetmez/" role="button"
        ><i class="fab fa-instagram"></i
      ></a>
    </section>
  </div>

  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    Mentalistler - Dork Studio
  </div>
</footer>
  <script src="{% static 'libs/jquery/dist/jquery.min.js'%}"></script>
  <script src="{% static 'libs/bootstrap/dist/js/bootstrap.bundle.min.js'%}"></script>
  <script src="{% static 'libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js'%}"></script>

  <script src="{% static 'js/sidebarmenu.js'%}"></script>
  <script src="{% static 'js/custom.min.js'%}"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <script src="{% static 'js/waitMe.js'%}"></script>

  <script src="{% static 'libs/jquery-steps/build/jquery.steps.min.js'%}"></script>
  <script src="{% static 'libs/jquery-validation/dist/jquery.validate.min.js'%}"></script>
  <script src="{% static 'extra-libs/multicheck/datatable-checkbox-init.js'%}"></script>
  <script src="{% static 'extra-libs/multicheck/jquery.multicheck.js'%}"></script>
  <script src="{% static 'extra-libs/DataTables/datatables.min.js'%}"></script>