{%load static%}
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta
      name="Mentalistler Dork Maker v2"
      content="Dork maker,mentalistler,dork"
    />
    <meta name="robots" content="noindex,nofollow" />
    <title>Mentalistler Dork Maker v2</title>
    <!-- Favicon icon -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{% static 'images/favicon.png' %}"
    />
    <!-- Custom CSS -->
    <!-- Custom CSS -->
    <link href="{% static 'css/style.min.css'%}" rel="stylesheet" />
    <link href="{% static 'css/waitMe.css'%}" rel="stylesheet" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{%static 'libs/select2/dist/css/select2.min.css' %}"
    />
    <link
    href="{%static 'libs/jquery-steps/jquery.steps.css'%}"
    rel="stylesheet"
  />
  <link href="{%static 'libs/jquery-steps/steps.css'%}" rel="stylesheet" />
  <link
  rel="stylesheet"
  type="text/css"
  href="{%static 'extra-libs/multicheck/multicheck.css'%}"
/>
<link
  href="{%static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.css'%}"
  rel="stylesheet"
/>
  </head>
